<?xml version="1.0" encoding="UTF-8"?>
<!--

 The MIT License (MIT)

 Copyright (c) 2015 Raymond Lai (TranceLove) <airwave209gt@gmail.com>

 Permission is hereby granted, free of charge, to any person obtaining a copy
 of this software and associated documentation files (the "Software"), to deal
 in the Software without restriction, including without limitation the rights
 to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 copies of the Software, and to permit persons to whom the Software is
 furnished to do so, subject to the following conditions:

 The above copyright notice and this permission notice shall be included in
 all copies or substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 THE SOFTWARE.

-->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="plugin.ios.webrtc" version="0.0.1">
    <name>iosWebRTCPlugin</name>
    <description>iOS WebRTC native library wrapper for Apache Cordova</description>
    <platform name="ios">
        <js-module src="www/iosRTCPeerConnection.js" name="iosRTCPeerConnection">
            <clobbers target="window.iosRTCPeerConnection" />
        </js-module>
        <js-module src="www/iosRTCSessionDescription.js" name="iosRTCSessionDescription">
            <clobbers target="window.iosRTCSessionDescription" />
        </js-module>
        <js-module src="www/iosRTCIceCandidate.js" name="iosRTCIceCandidate">
            <clobbers target="window.iosRTCIceCandidate" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="iosWebRTCPlugin">
                <param name="ios-package" value="iosWebRTCPlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/iosWebRTCPlugin.h" />
        <source-file src="src/ios/iosWebRTCPlugin.m" />
        <header-file src="src/ios/PeerConnectionObserver.h" />
        <source-file src="src/ios/PeerConnectionObserver.m" />
        <header-file src="src/ios/RTCPeerConnectionHolder+Internal.h" />
        <source-file src="src/ios/RTCPeerConnectionHolder+Internal.m" />
        <header-file src="src/ios/RTCSessionDescriptionObserver+Internal.h" />
        <source-file src="src/ios/RTCSessionDescriptionObserver+Internal.m" />
    </platform>
</plugin>
